<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
		<link rel="stylesheet" href="" type="text/css" />
		<title>Project Starter</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src=""></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    	<link href="https://fonts.googleapis.com/css?family=Hind|Noto+Serif+KR|Open+Sans+Condensed:300|Raleway" rel="stylesheet">
    
	</head>
	<body>
		{{{ body }}}
	</body>
</html>

