<!--headings  -->

    <div class="row">
        <div class= "col-sm-12">
        <h1>Project Starter<a id="signUp" href="signup">Sign-up</a><a id="login" href="login">Login</a>
        </h1>
        </div>
    </div>

    <div class= "row">
        <div class= "col-sm-12">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class= "container" id= "navigation">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Profile</a>
                </li>
              </ul>
              <select id="category" class="custom-select">
                    <option selected>Project Category</option>
                    <option value="1">electronics</option>
                    <option value="2">Games</option>
                    <option value="3">Children Toys</option>
                </select>
            </div>
            </div>
          </nav>
          </div>
          <!-- closes column -->
          </div>
          <!-- closes div row -->

          <br><br>

          <div class= "container">
              <div class= "row">
                <div class= "col-sm-4">
                        <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="http://placehold.it/300x300" alt="Card image cap">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                              </div>
                </div> <!-- closes column -->
                <div class= "col-sm-4">
                        <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="http://placehold.it/300x300" alt="Card image cap">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                              </div>
                </div> <!-- closes column -->
                <div class= "col-sm-4">
                        <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="http://placehold.it/300x300" alt="Card image cap">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                              </div>
                </div> <!-- closes column -->
              </div> <!-- closes div row -->
              <br><br>
              <div class= "row">
                    <div class= "col-sm-4">
                            <div class="card" style="width: 18rem;">
                                    <img class="card-img-top" src="http://placehold.it/300x300" alt="Card image cap">
                                    <div class="card-body">
                                      <h5 class="card-title">Card title</h5>
                                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                      <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                  </div>
                    </div> <!-- closes column -->
                    <div class= "col-sm-4">
                            <div class="card" style="width: 18rem;">
                                    <img class="card-img-top" src="http://placehold.it/300x300" alt="Card image cap">
                                    <div class="card-body">
                                      <h5 class="card-title">Card title</h5>
                                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                      <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                  </div>
                    </div> <!-- closes column -->
                    <div class= "col-sm-4">
                            <div class="card" style="width: 18rem;">
                                    <img class="card-img-top" src="http://placehold.it/300x300" alt="Card image cap">
                                    <div class="card-body">
                                      <h5 class="card-title">Card title</h5>
                                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                      <a href="#" class="btn btn-primary">Go somewhere</a>
                                    </div>
                                  </div>
                    </div> <!-- closes column -->
                  </div> <!-- closes div row -->

          </div> <!-- closes container -->





    <br>
    <br>
    <br>