
    <!--headings  -->

    <div class="row">
        <h1>Project Starter<a id="login" href="login.html">Login</a>
        </h1>
    </div>



    <!-- Image -->
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-2">
                <img id="guy" src="images/computerguy.jpg">


                <div class="card" id="comment" style="width: 18rem;">
                    <div class="card-body ">
                        <h4 class="card-title">Best New Crowd Funding Site</h4>
                        <h6 class="card-subtitle mb-2 text-muted">-Newsweek</h6>
                           <p class="card-text"> Project Starter is the best crowd-frunding website available.
                            The website is user friendly, reliable, and can connect financial supporters to projects
                            quickly.
                        </p>

                        <button id="start" type="button" class="btn-info btn-lg"><a href="/signup">Sign Up Now!</a></button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <br>
    <br>
    <br>
   

  

