<!DOCTYPE html>
<html lang="en">

<head>
    <title>Project Starter</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Hind|Noto+Serif+KR|Open+Sans+Condensed:300|Raleway" rel="stylesheet">
    <link href="stylesheets/user.css" rel="stylesheet">
</head>

<body>
    <!--headings  -->

    <div class="row">
        <h1>User Profile </h1>
        <a id="home" class="nv" href="/login">Login</a>
    </div>



    <!-- Image -->
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-md-offset-3">
                <img id="change" src="images/handshake.jpg">


                <div class="card" id="comment" style="width: 18rem;">
                    <div class="card-body ">
                        <h4 class="card-title">Create User Profile</h4>
                        <h6 class="card-subtitle mb-2 text-muted">*-fields are required</h6>
                        <form class="col-md-11 col-md-offset-1" id="signup" style="width: 80%;">
                            <div class="row">
                                <div class="col">
                                    <input class="form-control" type="text" id="first-name" placeholder="* First Name">
                                </div>
                                <div class="col">
                                    <input type="text" class="form-control" id="last-name" placeholder="* Last name">
                                </div>

                                <div class="col">
                                    <br>
                                    <input type="email" class="form-control" id="inputEmail" placeholder="* name@example.com">
                                </div>
                                <div class="col">
                                    <input type="password" class="form-control" id="inputPassword" placeholder="* Password">
                                </div>
                                <div class="col">
                                    <input class="form-control" type="text" id="urlProPic" placeholder="Url for profile pic">
                                </div>
                                <div class="col">
                                    <input class="form-control" type="text" id="interests" placeholder="Interests">
                                </div>
                                <div class="col">
                                    <textarea class="form-control" id="inputBio" rows="3"
                                        placeholder="Bio - Tell us about yourself!"></textarea>
                                </div>
                                <button id="submit" type="submit" class="btn-info btn-lg run">Submit</button>
                        </form>

                        
                    </div>
                </div>
            </div>
        </div>

      
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="js/signup.js"></script>

</body>

</html>