body {
  background-image: url('../images/horazontal.jpg');
  background-repeat: no-repeat center center fixed; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover; 
}

.container {
position: relative;

}

#guy {
  height:100%;
  width: 100%;
  z-index: 22;

}

.navbar {
  background-color: none;
  opacity: 50%;
}

h1,
h2 {
 
  text-align: center;
  color:wheat;
  font-family: 'Raleway', sans-serif;
    font-display: bold;
  font-size: 70px;
  background-color:black;
  opacity: .5;
  padding:15px;
  margin: 0px;
   
 
}
#login{
  font-size: 24px;
  float: right;
  text-align: center;
  margin-right: 10px;
  margin-top:30px;
}
.card-body {
    position: absolute;
    background-color: whitesmoke;
    height: 375px;
    width: 375px;
    z-index: 2;
}

.card-text {
  padding: 5%;
  text-align: center;
  font-style: italic;
  font-size: 24px;
}

#comment {
  margin-left: -20%;
  margin-top:-45%;
  
}

.card-title {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: orange;
  font-size: 34px;

}

.card-subtitle {
  font-style: italic;
}  

#start {
  position: absolute;
  margin-top:-5%;
  margin-left: 34%;
  background-color: lightgray;
  z-index: 1;
  
}

.card-subtitle{
 text-align: center;

}
form.signup,
form.login {
  margin-top: 50px;
}

.member-name-wrapper {
  padding: 15px;
}
.member-name {
  font-size: 12px;
  color: #444;
}

.list-group-item {
  line-height: 2.5;
}

